*.pyc

__pycache__

.project
.pydevproject
.idea
.code

venv/
docs/build/
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/itucsdb18/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/itucsdb1928/v15/.suo
/.vs/itucsdb1928/v15
/.vs/config/applicationhost.config
/.vs/config
/.vs
