{% extends 'layout.html' %}

{% block content %}

<h1> {{name}} {{surname}}</h1>


<table class="table is-hoverable">


    <tr>
        <th>Name</th>
        <td>{{author[0]}}</td>
    </tr>
     <tr>
       <th> Surname</th>
        <td>{{author[1]}}</td>
    </tr>
     <tr>
        <th>Birthdate</th>
         <td>{{author[2]}}</td>
    </tr>
     <tr>
      <th>Number of Books writed</th>
       <td>{{author[3]}}</td>
    </tr>
     <tr>
      <th>Country</th>
       <td>{{author[3]}}</td>
    </tr>


</table>

{% endblock content %}

