{% extends 'layout.html' %}
{% block content %}




<div class="container">
    <h1>Edit Publisher</h1>

    {% if user == 1 %}

<form action="/EditPublisher" method="POST">
    <div class="form-group">
                <input type="hidden" name="delete_publisher" >
                <button class="button is-danger" action="submit" id="delete_publisher" name="btn" value="delete_publisher">Delete Publisher</button>
          </div>
</form>
{% endif %}



 <form method="POST" class="form-horizontal" role="form" action="/EditPublisher">
            {{ form.hidden_tag() }}
     <hr>
          <div class="form-group">
            {{ form.name.label( class="col-lg-3 control-label") }}
            <div class="col-lg-8">
                {{ form.name(class="form-control") }}
            </div>
          </div>
          <div class="form-group">
            {{form.address.label( class="col-lg-3 control-label")}}
            <div class="col-lg-8">
                {{form.address(class="form-control")}}
            </div>
          </div>
         <div class="form-group">
            {{form.date.label( class="col-lg-3 control-label")}}
            <div class="col-lg-8">
                {{form.date(class="form-control")}}
            </div>
          </div>
</hr>
              <div class="form-group">
            {{form.companyName.label( class="col-lg-3 control-label")}}
            <div class="col-lg-8">
                {{form.companyName(class="form-control")}}
            </div>
          </div>
</hr>
              <div class="form-group">
            {{form.numOfBooks.label( class="col-lg-3 control-label")}}
            <div class="col-lg-8">
                {{form.numOfBooks(class="form-control")}}
            </div>
          </div>
</hr>
          <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
          </div>
    </form>
      <form method="POST" class="form-horizontal" role="form" action="/EditPublisher">
         <div class="form-group">
             <input type="hidden" name="cancel" >
             <button class="button is-danger" action="submit" id="cancel" name="btn" value="cancel">Cancel</button>
         </div>
    </form>
</div>



    {% endblock content %}
