{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1>Edit author</h1>
    {% if user == 1 %}
<form action="/EditAuthor" method="POST">
 <div class="form-group">


                <input type="hidden" name="delete_author" >

                <button class="button is-danger" action="submit" id="delete_author" name="btn" value="delete_author">Delete Author</button>

          </div>
    </form>
{% endif %}

 <form method="POST" class="form-horizontal" role="form" action="/EditAuthor">
            {{ form.hidden_tag() }}
     <hr>
          <div class="form-group">
            {{ form.name.label( class="col-lg-3 control-label") }}
            <div class="col-lg-8">
                {{ form.name(class="form-control") }}
            </div>
          </div>
          <div class="form-group">
            {{form.surname.label( class="col-lg-3 control-label")}}
            <div class="col-lg-8">
                {{form.surname(class="form-control")}}
            </div>
          </div>
         <div class="form-group">
            {{form.date.label( class="col-lg-3 control-label")}}
            <div class="col-lg-8">
                {{form.date(class="form-control")}}
            </div>
          </div>
</hr>
              <div class="form-group">
            {{form.country.label( class="col-lg-3 control-label")}}
            <div class="col-lg-8">
                {{form.country(class="form-control")}}
            </div>
          </div>
</hr>
              <div class="form-group">
            {{form.numOfBooks.label( class="col-lg-3 control-label")}}
            <div class="col-lg-8">
                {{form.numOfBooks(class="form-control")}}
            </div>
          </div>
</hr>
          <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
          </div>
    </form>
      <form method="POST" class="form-horizontal" role="form" action="/EditAuthor">
         <div class="form-group">
             <input type="hidden" name="cancel" >
             <button class="button is-danger" action="submit" id="cancel" name="btn" value="cancel">Cancel</button>
         </div>
    </form>
</div>
{% endblock content %}
