{% extends 'layout.html' %}
{% block content %}


<h1>Profile</h1>
{% if Status != 1 %}
<div class="form-group">
            <form method="POST"  action="/Profile">


            <input type="hidden" name="edit_profile" >

                <button class="button is-danger" action="submit" id="edit_profile" name="btn" value="edit_profile">Edit Profile</button>


        </form>

          </div>
{% endif %}

<table class="table is-hoverable">
    <tr>
        <th>Name </th>
        <td>{{profile[0]}}</td>
    </tr>

    <tr>
        <th>Surname</th>
        <td>{{profile[1]}}</td>
    </tr>



    <tr>
        <th>Gender</th>
        <td>{{profile[2]}}</td>
    </tr>

    <tr>
        <th>Age</th>
        <td>{{profile[3]}}</td>
    </tr>

    <tr>
        <th>Email {{addContent}}</th>
        <td>{{profile[4]}}</td>
    </tr>
</table>

    <!-- ----------------------------- -->
    {% if addContent == 0 %}
        {% if Status != 1 %}
        <div class="form-group">
            <form method="POST" action="/Profile">
                <input type="hidden" name="edit_userContent">
                <button class="button is-danger" action="submit" id="edit_userContent" name="btn" value="edit_userContent">Edit User Content</button>
            </form>
        </div>
        {% endif %}
        <table class="table is-hoverable">

            <tr>
                <th>Comments Num </th>
                <td>{{profile[5]}}</td>
            </tr>

            <tr>
                <th>FavAuthor</th>
                <td>{{profile[6]}}</td>
            </tr>



            <tr>
                <th>FavBook</th>
                <td>{{profile[7]}}</td>
            </tr>

            <tr>
                <th>FavPublisher</th>
                <td>{{profile[8]}}</td>
            </tr>

            <tr>
                <th>LikedCommentNum</th>
                <td>{{profile[9]}}</td>
            </tr>
        </table>
    {% elif Status != 1 %}
    <form method="POST" action="/Profile">
        <div class="form-group">
        <input type="hidden" name="add_content" >
        <button class="button is-danger" action="submit" id="add_content" name="btn" value="add_content">Add New Content</button>
        </div>
    </form>
    {% endif %}
{% endblock content %}
